body {
    background-color: #f6f4f0;
    font-family: 'Inter', sans-serif;
    color: #1e1e1e;
    line-height: 1.5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 6%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: transparent;
}

.logo {
    font-weight: 700;
    font-size: 200%;
}

.nav-links {
    display: flex;
    gap: 3rem;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-links a {
    text-decoration: none;
    color: #2b2b2b;
    transition: color 0.1s;
    border-bottom: 3px solid transparent;
    padding-bottom: 4px;
}

.nav-links a:hover {
    color: #000;
    border-bottom-color: #b89b7b;
    background-color: #f1ebdc;
    font-family: Arial;
    font-size: 17px;
    font-weight:500;
}