
.gallery-section{
    padding: 5rem 6%;
    max-width: 1400px;
    margin: 0 auto;
}

.titre-section{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.sub-section{
    color: #494644;
    max-width: 600px;
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 300;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

article{
    text-align: center;
    background-color: #ffffffd5;
    backdrop-filter: blur(2px);
    border-radius: 40px;
    padding: 0px 20%;
    box-shadow: 0 25px 40px -20px rgba(0,0,0,0.25);
    transition: all 0.3s cubic-bezier(0.2,0.9,0.3,1);
    border: 1px solid rgba(255,255,255,0.7);
    display: flex;
    flex-direction: column;
}

article:hover {
    transform: translateY(-10px) scale(1.01);
    box-shadow: 0 40px 50px -20px #281f19;
}

.card-img{
    width: 100%;
    height: 200px;
    background: #7a7978;
    border-radius: 28px;
    margin-bottom: 0px;
    margin-top: 25px;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
    box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1);
}

.card-project{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.petit-text{
    color: #f0e5e5;
    background-color: rgba(0, 0, 0, 0.445);
}

.temoin{
    background-color: #e3dbd2;
    border-radius: 100px 20px 100px 20px;
    max-width: 1100px;
    margin: 4rem auto;
    padding: 4rem 6%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 30px 40px -20px #5f4e40;
}

.temoi-face p{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4;
    color: #1f1b17;
}

.temoi-auteur{
    margin-top: 5px;
    font-weight: 600;
    color: #3a3029;
}

footer {
    padding: 2rem 6%;
    text-align: center;
    color: #60554b;
    border-top: 1px solid #dacfc6;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.socials{
    color: #4f443b;
    margin-left: auto;
    font-size: 1.3rem;
    transition: color 0.2s;
}

.socials a {
    color: #4f443b;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.2s;
    border: none;
}

.socials a:hover {
    color: #b58b6b;
    text-decoration: underline;
}

    .img1 { background-image: url(DeFace.png); }
